<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imgs/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>

<body>
    {{>header}}

    <main>
        <img src="./imgs/g1.jpg" alt="Victor...?">

        <p>Hi! I'm Samir.</p>
        <p>I am an IT Student interested in Web Development.</p>
        <p>This site uses data from mapbox.com and openweathermap.org</p>
    </main>

    {{>footer}}

</body>

</html>