<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imgs/icon.png">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Help</title>
</head>

<body>
    {{>header}}

    <main>
        <p>Type in your desired location on the <a href="/">Weather page</a> and click Search.</p>
    </main>
    {{!-- <iframe width="765" height="430" src={{info}} frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        title="Type in your desired location on the Weather page and click Search." allowfullscreen>
    </iframe> --}}

    {{>footer}}

</body>

</html>