<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/imgs/icon.png">
    <title>Index</title>
</head>

<body>
    {{>header}}

    <main>
        Use this site to get your weather
        <form>
            <input type="search" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg1"></p>
        <p id="msg2"></p>
    </main>

    {{>footer}}

    <script src="/js/script.js"></script>
</body>

</html>