<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/imgs/icon.png">
    <title>Weather</title>
</head>

<body>
    {{>header}}

    <main>
        <p>
            Use this site to get your weather
        </p>
        <form>
            <input type="search" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg1"></p>
        <p id="msg2"></p>
    </main>

    {{>footer}}

    <script src="/js/script.js"></script>
</body>

</html>